package com.mycompany.mavenproject8;
import javax.swing.JOptionPane;
public class main {
    public static void main(String[] args) {
        long contador=0;
        for(int i=0;i<100000000;i++)
        {
            if(i%2!=0)
            {
                contador =contador+i;
            }
        }
        JOptionPane.showMessageDialog(null, contador);
    }
}
